* {
  margin: 0px;
  padding: 0px;
}

#repo > .card-header,
#repo > .card-body,
#repo > .card-footer {
  background-color: #ededed;
  border: 0px;
}

#repo > .card-body {
  height: 7rem;
}

#repo > .card-body > .card-text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* number of lines to show */
  display: -webkit-box;
  line-clamp: 4; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#repo > .card-body .card-text {
  height: 100%;
}

#repo .card-footer .member {
  background-color: #fff;
  border-radius: 25em;
  display: block;
  border: 0;
  float: left;
  height: 28px;
  margin: 0 0 0 -2px;
  overflow: visible;
  width: 28px;
}

#repo .card-footer .member-avatar {
  border-radius: 25em;
  border: 0;
  height: 28px;
  height: 28px;
}

#repo .card-footer .member-count {
  background-color: aliceblue;
  border-radius: 14px;
  border: 0;
  display: block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  margin-left: -2px;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 28px;
}

#popover {
  position: absolute;
  border: solid 1px red;
  left: 115px;
  bottom: 33px;
  padding: 1em;
  padding-left: calc(1em + 2px);
}
